@using System.Security.Policy
@model IEnumerable<LolChampMvc.Models.Datum>



@foreach (var item in Model)
{
<h1>@Html.DisplayFor(itemModel => item.Name)</h1>

    <div class="d-flex flex-wrap">
        <div class="img-m">
            <object class="image img-fluid" data="@String.Format("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{0}_0.jpg", item.Id)" width="200" height="200"></object>
        </div>
        <div class="">
            <div class="bold-m">
                @Html.DisplayNameFor(itemModel => item.Name)
            </div>
            <div class="bold-m">
                @Html.DisplayNameFor(itemModel => item.Title)
            </div>
            <div class="bold-m">
                @Html.DisplayNameFor(itemModel => item.Tags)
            </div>
            <p class="bold-m">
                @Html.DisplayNameFor(itemModel => item.Info)
            </p>
        </div>
        <div class="">
            <div class="text-m">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="text-m">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="text-m">
                @Html.DisplayFor(modelItem => item.Tags)
            </div>
            <div class="">
                @Html.DisplayFor(modelItem => item.Info)
            </div>
        </div>
    </div>
}
